@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0.3rem;
}

.the-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 5rem 1rem;
  background-image: url(/images/map-base.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.heading-test {
}
.heading-test h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #025066;
  line-height: 1.2;
  max-width: 700px;
}

.heading-test p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-top: 20px;
  max-width: 700px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.formm {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 2px 2px;
  border: 1px solid #e0e0e0;
  gap: 5px;
}

.formm input {
  border: none;
  background: #ffffff;
  padding: 12px 16px;
  font-size: 16px;
  outline: none;
  width: 220px;
  border-radius: 10px;
}

.formm button {
  background-color: #004d5f;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.formm button:hover {
  background-color: #006b80;
}

.phone-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: -90px;

  width: 100%;
}

.phonee {
  position: relative;
  height: 20rem;
  z-index: 1;
}

.phonee img {
  height: 100%;
  display: block;
}

.first,
.arrow-01,
.frame,
.arrow-11,
.frame2 {
  position: absolute;
  z-index: 2;
  /* max-width: 100px;
  height: auto; */
}

.first {
  top: 1rem;
  width: 4rem;
  left: calc(50% + 80px);
}
.first img {
  width: 100%;
}
.arrow-01 {
  top: 5.5rem;
  height: 7rem;
  left: calc(50% + 90px);
}

.frame {
  top: 11rem;
  left: calc(50% + 125px);
}

.arrow-11 {
  top: 7rem;
  left: calc(50% - 155px);
}

.frame2 {
  width: 4rem;
  height: 5rem;
  top: 10.5rem;
  left: calc(50% - 210px);
}

.send-money {
  margin-top: 60px;
  text-align: center;
  z-index: 2;
}

.send-money h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
}

.send-image {
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}

.scroll-track {
  display: flex;
  gap: 2rem;
  animation: scroll-left 25s linear infinite;
  width: max-content;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bank {
  width: 40px;
}
.bank img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  #root {
    padding: 0;
  }
  .the-site {
    padding: 0;

    margin: 0;
  }
  .heading-text {
    padding: 2rem 2.5rem;
    width: 100%;
  }
  .heading-test h2 {
    font-size: 1.8rem;
  }

  .heading-test p {
    font-size: 0.9rem;
  }
  .form-container {
    flex-direction: column;
    width: 100%;
  }
  .formm {
    flex-direction: column;
    width: 100%;
  }
  .formm input {
    width: 100%;
  }
  .formm button {
    margin-top: 0.25rem;
    padding: 12px 70px;
    width: 100%;
  }
  .phone-area {
    margin-top: 5px;
    margin-bottom: -50px;
  }

  .phonee {
    width: 15rem;
    height: 22rem;
  }
  .phonee img {
    width: 100%;
    object-fit: contain;
  }

  .first {
    width: 2rem;
    height: 2rem;
    top: 2rem;
    left: calc(50% + 70px);
  }

  .arrow-01 {
    top: 13rem;
    width: 5rem;
    height: 5rem;
    left: calc(50% + 95px);
  }
  .arrow-01 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .frame {
    top: 17rem;
    width: 3rem;
    height: 3rem;
    left: calc(50% + 140px);
  }
  .frame img {
    width: 100%;
    object-fit: contain;
  }
  .arrow-11 {
    top: 13.5rem;
    left: calc(50% - 160px);
  }

  .frame2 {
    top: 17rem;
    width: 4rem;
    height: 3rem;
    left: calc(50% - 170px);
  }

  .bank img {
    width: 45px;
  }
}
